<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_onsale>
            <general>
                <labels_lineup_type>vertical</labels_lineup_type>
                <max_number_of_labels_over_product>2</max_number_of_labels_over_product>
                <max_number_of_labels_next_to_price>2</max_number_of_labels_next_to_price>
            </general>
        </aw_onsale>
    </default>
</config>
