<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @package MegaCloud_DeferJs
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="magecloud_defer_js" instance="MageCloud\DeferJs\Observer\DeferJs" />
    </event>
</config>