<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @package MageCloud_IndexManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- add reindex action to index management -->
    <preference for="Magento\Fedex\Model\Carrier" type="MageCloud\FedexDebugXML\Model\Carrier" />
</config>