<?xml version="1.0"?>
<!--
/**
 * @author andy
 * @email andyworkbase@gmail.com
 * @package MageCloud_IndexManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="indexmanagement" frontName="indexmanagement">
            <module name="MageCloud_IndexManagement" />
        </route>
    </router>
</config>